@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Blinker&display=swap');
:root{
  --body-background: #fff;
  --hover-color: grey;
  --header-background: #000;
  --anchor-color: #fff;
  --heading-color: #b2b2b2;
  --paragraph-color: #b2b2b2;
  --anchor-active-color: #91f600;
}
.App{
  min-height: 100vh;
 
}
header {
  align-items: center;
    display: flex;
    background-color: var(--header-background);
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 1em 0;
}
.ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  width: 500px;
  margin: 0;
  padding: 0;
}

.ul li {
  flex-grow: 1;
  text-align: center;
  width: 70px;
}

.ul li a {
  color: var(--anchor-color);
  font-size: .9rem;
  text-transform: uppercase;
}
.navbar a:hover{
  color: rgb(65, 64, 64);
}
header div:nth-child(1) {
  flex-grow: 8;
}

header div:nth-child(1) img {
  margin-left: 25px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media all and (max-width: 800px) {
  header {
      justify-content: space-around;
  }

  .container {
      padding: 50px;
  }
}

@media only screen and (max-width:542px) {
  header div:nth-child(1) {
      margin: 0 auto;
      display: block;
      padding-bottom: 0;
  }
}
header {
    flex-direction: column;
}
h1{
  height: fit-content;
  text-align: center;
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: right;
  align-items: center;
  transform: translate(-50px,-20px);
}

.search-bar{
  width: 200px;
  border: black solid;
  padding: 10px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.cards {
  display: grid;
  flex-wrap: wrap;
  list-style: none;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: auto;
  width: 60%;
  padding: 10px;
  
}

.cards_item {
  display: flex;
  border-bottom: 3px solid black ;
}

.bottom{

  font-size: 20px;
  
  text-align:center;
  color: rgb(101, 90, 112);
  
  background-color: aquamarine;

}
.headbox{
  border: 5px solid rgb(128, 128, 128);
  background-color: rgb(181, 246, 157);
  width:fit-content;
  box-shadow: 5px 5px  rgb(88, 88, 88);
  color:black;margin: auto;
  width: 60%;
  padding: 10px;
}