.Diet{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #d7e9def4;
    overflow: hidden;
  }
  
  .app_navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: rgb(41, 40, 40);
    width: 100%;
    height: 10vh;
  }
  
  span{
    color: rgb(142, 226, 135);
  }
  
  .app_controls_counter{
    position: fixed;
    top: 50px;
    left: 20px;
  }
  
  .app_controls_delete{
    position: fixed;
    top:80px;
    right: 30px;
  }
  
  .btn_delete_all{
    font-size: 18px;
    background: rgb(228, 100, 25);
    color: white;
    outline: none;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .app_controls{
    width: 50px;
    height: 150px;
    margin: 50px auto;
  }
  
  .app_controls_inputs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .app_controls_inputs input{
    padding: 5px;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid black;
  }
  
  .app_controls_inputs button{
    padding: 5px;
    width: 100%;
    text-align: center;
    color: white;
    background: rgb(142, 226, 135);
    margin: 10px auto;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .app_meals_container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .app_meals_container_wrapper{
    height: auto;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .app_meals_container_wrapper_inner{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px 0;
    padding: 5px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 5px;
  }
  
  .btn_delete_meal{
    padding: 5px;
    outline: none;
    text-align: center;
    font-size: 18px;
    color: white;
    background: rgba(199, 128, 88, 0.774);
    border-radius: 5px;
    border: 1px solid black;
  
  }
  
  .app_modal{
    width:300px;
    height: 250px;
    background:white;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    color:  black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  
  .btn_close_modal{
    padding: 5px;
    outline: none;
    font-size: 18px;
    text-align: center;
    background:rgb(228, 100, 25);
    color: white;
    border-radius: 5px;
    border:1px solid white;
    width: 90%;
  }
  
  .app_meals_container_select select{
    outline: none;
    padding: 5px;
    font-size: 18px;
    border:1px solid black
  }

  .dietary_navbar{
    padding: 5px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 20px auto;
    font-size: 18px;
  }